@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1>Album digital - Mundial 2026</h1>
    
    <div>
        <h3>Official sticker collection</h3>
        <img src="~/images/jugadores/jugador1.svg" />
        <h2>World Cup 2026 - FIFA</h2>
    </div>
    <div>
        <h2>Argentina</h2>
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
    </div>
    <div>
        <h2>Brasil</h2>
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
    </div>
    <div>
        <h2>Francia</h2>
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
    </div>
    <div>
        <h2>Inglaterra</h2>
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
        <img src="~/images/jugadores/jugador1.svg" />
    </div>
</section>
