@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1>Album digital - Mundial 2026</h1>
    
    <section>
        <h3>Official sticker collection</h3>
        <img src="images/LogoMundial.png" />
        <h2>World Cup 2026 - FIFA</h2>
    </section>
    <section>
        <div>
            <h2>Argentina</h2>
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
        </div>
        <div>
            <h2>Brasil</h2>
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
        </div>
        <div>
            <h2>Francia</h2>
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
        </div>
        <div>
            <h2>Inglaterra</h2>
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
            <img src="~/images/jugadores/jugador1.svg" />
        </div>
    </section>
    <section>
        <div>
            <a href = "Sobres">Abrir Sobre</a>
        </div>
    </section>
</section>
