@{
    ViewData["Title"] = "Home Page";
}

<h1>Album digital -* Mundial 2026</h1>

<h4>
    <a href='@Url.Action("Sobres", "Album")'>Abrir sobre</a>
</h4>

<h4>
    <a href='@Url.Action("Album", "Album")'>Ver album digital</a>
</h4>