@{
    ViewData["Title"] = "Home Page";
}

<h1>Abrir Sobres</h1>
<form action='@Url.Action("AbrirSobre", "Album")' method="post">
    <button type="submit">Abrir Sobre</button>
</form>

<img src="~/images/Sobre.png" alt="">

@if(ViewBag.Sobre != null){
    <h2>Te salieron:</h2>

    @foreach(Jugadores jugador in ViewBag.Sobre){
        <img src="~/images/jugadores/@(jugador.Id).svg" width="170">
    }

}

<a href = "Album">Ver album</a>
<a href="Index">Volver</a>